:root {
  --vp-c-brand: #5100ff;
  --vp-c-brand-light: #748bff;
  --vp-c-brand-dark: #6318a5;
}

.search-text {
  background: #17d16e47;
}

@media(max-width: 600px) {
  .search-text {
      font-size: 9px;
      padding: 3px 14px;
  }
}